# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Diretórios de build e cache
build/
dist/
.cache/
.eslintcache/
.next/
.out/

# Editor e IDEs
.vscode/
.idea/
*.sublime-workspace

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Variáveis de ambiente e credenciais (se houver)
.env
.env.local
.env.development
.env.production
.env.test


